################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mastermind/DesignTimeBuild
/.vs/mastermind/FileContentIndex
/.vs/mastermind/v17
/.vs
/Mastermind/.vs
/Mastermind/Mastermind/bin/Debug/net6.0
/Mastermind/Mastermind/obj
/Mastermind/MastermindLibrary/bin/Debug/net6.0
/Mastermind/MastermindLibrary/obj
